

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,700|Playfair+Display:400,700&display=swap" rel="stylesheet">
     <title>Travel Planner</title>
   </head>
   <body>



      <div id="grid-container">
        
            <div id="nav-title">
               <div id="title">Travel Planner</div>

            </div>
            <div id="userdates">

            <label for="Destenation">My trip to: </label>
            <input type="text" name="Destenation" id="Destenation" placeholder="Enter Destenation" class="trip-location" />
        
            <hr>
                    
                <div class="startdiv"> 
                    <label for="start-date">Departing Date: </label>
                    <input type="date" name="date" id="start-date" placeholder="MM/DD/YYYY"/>
                </div>


                <div class="enddiv">
                    <label for="end-date">Leaving Date: </label>
                    <input type="date" name="date" id="end-date" placeholder="MM/DD/YYYY" />
                </div>


              
                <button type="submit" class="submit" >Submit</button>
               </div>
           
         <div  id="info">


            <!-- <div class="daysnum"> -->
                <p class="country"></p><p> &nbsp;  is &nbsp; </p> &nbsp; <p class="days"></p> away!
                
                &nbsp; &nbsp;
            <!-- </div> -->
            
            <p class="trip_length">You will travel for
                    <p class="length"></p>
                    
                    &nbsp; <p class="days">days</p>  &nbsp;


                    <p class="temperature"></p>

         </div>


        <div class="post" id="cityImage">

         <img class='img' />
           
          
        </div>


         <div class="post" id="Farasan-post">
          
         </div>
         
         <section id="subscribe">

      </div>
   </body>
</html>

