
*, html {
  margin : 0;
  padding : 0;
  overflow-x : hidden;
  box-sizing : border-box;
  }
  body {
  font-family : 'Montserrat', sans-serif;
  font-size : 14px;
  line-height : 1.6;
  background-image : url("../media/sky2.jpg");
  }


  #grid-container {
  display : grid;
  justify-content : center;
  width : 100vw;
  margin : auto;
  grid-template-columns : 35vw 35vw;
  grid-template-rows : 45vh 45vh 45vh 45vh 45vh;
  gap : 6px;
  grid-template-areas : "nav nav" "dd dd" "info info" "cityImage cityImage" "ft ft";
  }


  @media (max-width: 600px) {
    #grid-container {
      
      display: grid;
      justify-content : center;
      width : 100vw;
   //   margin : auto;
      grid-template-columns: 1fr;
      grid-template-rows: 45vh 45vh 70vh 45vh ;
      gap: 6px;
      grid-template-areas: "nav" "dd" "info" "cityImage" "ft";
    }
  }



  #userdates {
  display : flex;
  flex-wrap : wrap;
  align-items : center;
  justify-content : center;
  border : blue solid 1px;
  padding : 15px;
  grid-area : dd;
  background-color : rgb(130, 217, 243);
  }



  #nav-title {
  display : flex;
  align-items : center;
  justify-content : center;
  grid-area : nav;
  padding : 15px;
  }


  #info {
  display : flex;
  //flex-wrap : wrap;
  align-items : center;
  justify-content : center;
  border : blue solid 1px;
  padding : 15px;
  grid-area : info;
  background-color : rgb(130, 217, 243);
  }



  .days, .country {
  color : #437FF1;
  }
  .post {
  display : flex;
  justify-content : center;
  align-items : center;
  color : #ddcfb4;
  min-height : 160px;
  }
  .submit {
  font-size : 20px;
  margin : 20px 20px;
  border-radius : 5px;
  font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align : center;
  text-transform : capitalize;
  padding : 10px;
  width : 190px;
  height : 60px;
  border-color : #437FF1;
  border-radius : 5px;
  width : 130px;
  background-color : transparent;
  border : rgb(15, 37, 133) solid 4px;
  color : rgb(20, 59, 143);
  }
  #cityImage {
  grid-area : cityImage;
  background-position : center;
  background-size : cover;
  font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-repeat : no-repeat;
  }
  #Farasan-post {
  grid-area : Farasan-post;
  font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-position : center;
  background-size : cover;
  }
  .post-info {
  text-align : center;
  }
  #subscribe {
  grid-area : subscribe;
  display : flex;
  align-items : center;
  justify-content : center;
  }
  strong {
  font-family : Arial, Helvetica, sans-serif;
  font-weight : 700;
  letter-spacing : 0.05em;
  }
  em {
  font-family : 'Montserrat', sans-serif;
  letter-spacing : 0.05em;
  }
  u {
  text-decoration : underline;
  font-weight : 500;
  letter-spacing : 0.05em;
  }
  