@import "./base.scss";



            .startdiv {
                margin-right: 18px;
            }
            .enddiv {
                margin-left: 18px;
            }
        
        

            #title{

                font-size:50px;
                
                }
            
            label {
                
                font-size: 20px;
                color: #2A3550;
            }

            input {
                
                border-color: #697397;
                border-style: solid;
                border-radius: 4px;
                width: 240px;
                height: 40px;
                padding: 10px;
                margin-left: 10px;
                font-size: 15px;
                overflow: hidden;   
            }

         .submit {

              
                font-size: 26px;
                margin: 25px 30px;
                font-family: 'Alfa Slab One', cursive;
                text-align: center;
                padding: 8px;
                color:#F3F8FA;
                height: 60px;
                border-color: #437FF1;
                letter-spacing: 1px;
                width: 190px;
                text-transform: capitalize;
                background-color: transparent;
                border: 4px solid rgb(15, 37, 133);
                color: rgb(20, 59, 143);
                border-radius: 8px;



              
            }

          div  .submit:hover {

        

                background-color: rgb(126, 162, 230);
                color: rgb(53, 99, 199);
                border-color: rgb(5, 5, 20);



              
            }
        

            span{

                font-size: 15px;
            }

        
    