@import "./base.scss";

        
        
    img {
        
        width: 100%;
    }
    
    
    .info {
        
//        margin: 0 20px 0 0;
        font-size: 40px;
        width: 50%;

        
    }
    

